.Navigation {
    display: flex;
    justify-content: space-around;
    height: 10vh;
    background: linear-gradient(to right, #e65c00, #f9d423);
    border-radius: 0 0 10px 10px;
    align-items: center;
}

nav {
    display: flex;
}

a{
    color: inherit;
    text-decoration: none;
}

nav>li {
    list-style-type: none;
    margin : auto 8px;
}

.PostContainer {
    /* width : 60%; */
    background-color: bisque;
    align-items: center;
}

.Tags > span {
    margin : 0.5em;
    /* background-color: rgb(158, 158, 151);
    border-radius: 50px;
    padding: 0.3em 0.5em; */
}

.Tags {
    color : blue;
    margin : 0.5em;
}

.PostContent {
    margin: 15px 15px;
    padding : 10px 10px;
    height : 75%;
    display : flex;
    justify-content : space-between;
    align-items: center;
}

hr {
    width : 90% ;
    border-top: 2px solid rgb(85, 82, 82);
}

.Credit > div{
    margin : 0.3em 2em;
}

.pip {
    color : rgb(218, 180, 131);
}
